@font-face {
   font-family: 'Myfont-Regular';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-30_122614/fonts/Myfont-Regular/font.ttf');
}
